<footer>
    <div class="f-info">
        <div class="f-info-1">
        <div class="f-info-region">
            <i class="fa-solid fa-globe"></i>
            <span class="country">English (US)</span>
            <span>$USD</span>

        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        </div>

        <div class="f-info-2">
            <div class="f-info-company">&copy;2025 Airbnb,Inc. </div>
            <div class="f-info-links">
                <a href="/terms">Terms</a>
                <a href="/privacy">Privacy</a>
            </div>
    </div>
    </div>
</footer>