<% layout("/layouts/boilerplate")%>
    <body>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <%for(let listing of allListings){%>
                <a href="listings/<%=listing._id%>">
                    <div class="card col">
                        <img src="<%= listing.image.url%>" class="card-img-top" alt="listing_img" style="height:15rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=listing.title%> <br>
                                </b>
                                $<%=listing.price.toLocaleString("en-US")%> for 2 nights
                            </p>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>
    </body>