<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new listing</title>
</head>
<body>
    <h3>Add a new listing in your airbnb</h3>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="title">
        <textarea type="text" name="listing[description]" placeholder="description"></textarea>
        <input type="text" name="listing[image]" placeholder="image's url">
        <input type="number" name="listing[price]" placeholder="price">
        <input type="number" name="listing[location]" placeholder="location">
        <input type="text" name="listing[country]" placeholder="country">
        <button>Add</button>
    </form>
</body>
</html>