body{
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color: white;

}

.fa-airbnb{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}


.f-info{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    flex-wrap: wrap;
    /* gap:20px; */
    height:8rem;
    background-color: #f7f7f7;
    text-align: center;

}

.f-info-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.f-info-links  a {
    text-decoration: none;
    color:#222222;
}
.f-info-links  a:hover{
    text-decoration: underline;
}

.f-info-1{
    display: flex;
    align-items: center;
    gap:12px;
    justify-content: space-between;
    padding:10px;

}
.f-info-socials{
    display:flex;
    gap:12px;
}
.f-info-socials i:hover {
    cursor: pointer;
}

.f-info-2{
    display: flex;
    gap:12px;
    align-items: center;
    padding:10px;
}

.f-info-region{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.f-info-region .country{
    margin-right: 12px;

}

.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}
.row a {
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: rgb(255, 255, 255);
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}
.edit-btn{
     background-color: #fe424d !important;
    border:none !important;

}


/* show page */
.show-img{
    height:30vh;
    

}

.btns{
    display:flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.review-card{
    border:1px solid black !important;
}
@media (max-width: 768px) {
  .f-info {
    justify-content: space-around;
  }

   .f-info-socials {
    margin-left: auto;
    margin-right: auto;
  }

}

/* Map styling */
#map {
    height:400px;
    width:80vh;
 }
